@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.contato {
    font-family: 'Ubuntu';
    background-color: #031C0D;
    font-size: 13px;
    color: white;
    padding-bottom: 15px;
}

.contato h2 {
  color:#00B388;
}

.contato-subtitulo {
  color:#00B388;
  font-size:16px;
}

.contato-icones {
    /*font-size: 2vw;*/
}

.icone-texto {
  display: block;
}

.gap {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

a {
    color: white !important;
    text-decoration: none!important;
}

html, body {
  height: 100%;
}

.BACK1 {
  background-image: url("../Imagens/back6.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.BACK2 {
  background-color: #F3EFF5;
  min-height: 55%;
  padding: 30px 0;
}

.BACK1 img {
  size: 50%;
}


@font-face {
  font-family: "breeSerif";
  src: url("../fonts/BreeSerif.otf") format("truetype");

}

.BACK2 h2 {
  font-family: "breeSerif";
  text-align: center;
  font-size: 30px;
  color: #0D0A0B;

}

.linha {
  border-width: 1px;
  border-color: #0D0A0B;
}
.BACK2 p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    font-family: "breeSerif";
}