@charset "UTF-8";

.offset {
  position: relative;
  top: -35px;
}

.heading {
  color: #00B388;
}

.navbar {
  font-family: 'BreeSerif';
  letter-spacing: 1px;
  padding: 5px;
  list-style: none;
  height: 65px;
}

.navbar li {
  padding: 17px;
  margin-top: -12px;
}

.navbar li:hover {
  text-shadow:0px 0px 3px #fff;
}

.navbar-brand {
  margin-top: 5px;
}

.navbar-custom .navbar-brand {
  margin-top: 2px;
}

#myNavbar {
  height: 189px;
}

.navbar-fixed-top {
  height: 55px;
}

.navbar-custom .navbar-fixed-top {
   background: rgb(0,0,0);
  -webkit-transition: background .6s linear;
  -moz-transition: background .6s linear;
  transition: background .6s linear;
}

.navbar-custom .navbar-toggle {
  max-width: 25px;
  max-height: 15px;
  overflow: visible;
  margin-top: 15px;
  background-color: rgb(0,0,0);
  height: 10px;
  transition: background .6s linear;
}

.navbar-custom {
  height: 50px;
  padding: 1px;
  background: rgb(0,0,0);
  -webkit-transition: background .6s linear;
  -moz-transition: background .6s linear;
  transition: background .6s linear;
}

.contato {
    font-family: 'Ubuntu';
    background-color: #031C0D;
    font-size: 13px;
    color: white;
    padding-bottom: 15px;
}

.contato p {
  font-family: "Droid Sans"
}

.contato h2 {
  color:#00B388;
  font-family: 'BreeSerif';
}

.contato-subtitulo {
  color:#00B388;
  font-size:16px;
}

.contato-icones {
    /*font-size: 2vw;*/
}

.icone-texto {
  display: block;
}

.gap {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

a {
    color: white !important;
    text-decoration: none!important;
}

html, body {
  height: 100%;
}

header img {
  margin-top: -40%;
}

.BACK1 {
  background-image: url("../Imagens/back3.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.BACK2 {
  background-color: #E1EFF6;
  min-height: 55%;
  padding: 30px 0;
}

.BACK1 img {
  margin-top: 27%;
}


.BACK1 p {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10%;
  font-family: "Arvin";
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-R.ttf") format("truetype");

}


@font-face {
  font-family: "breeSerif";
  src: url("../fonts/BreeSerif.otf") format("truetype");

}

@font-face {
  font-family: "njnaruto";
  src: url("../fonts/njnaruto.ttf") format("truetype");

}

@font-face {
  font-family: "Arvin";
  src: url("../fonts/Arvin Light Italic.ttf") format("truetype");

}

@font-face {
  font-family: "ArvinR";
  src: url("../fonts/Arvin Regular.ttf") format("truetype");

}

.BACK2 h2{
  font-family: "breeSerif";
  text-align: center;
  font-size: 30px;
  color: #31708f;

}

.linha {
  border-width: 1px;
  border-color: #0D0A0B;
  width: 50%;
}
.BACK2 p{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Droid Sans";
}

.BACK3 {
  background-color: #031C0D;
  font-size: 15px;s
  min-height: 55%;
  padding: 30px 0;
}

.BACK3 h2 {
  font-family: "breeSerif";
  text-align: center;
  font-size: 30px;
  color: #00B388;
}

.BACK3 p {
  color: white;
  font-family: "Droid Sans";
}

.BACK3 h4 {
  font-family: "breeSerif";
}


.transicao {
  background-image: url("../Imagens/transac2.jpg");
  min-height: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.transicao2 {
  background-image: url("../Imagens/lalala3.jpg");
  min-height: 50%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 1199px){
    .contato .icone-texto{
      text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  .BACK1 img {
    margin-top: 50%;
  }
}

@media only screen and (max-width: 767px) {
 #myNavbar{
  background-color: rgb(0,0,0);
  }
}

@media only screen and (max-width: 767px) {
 .navbar-custom .navbar-brand{
  margin-top: 3px;
  max-height: 30px;
  max-width: 40px;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-brand{
  margin-top: 3px;
  max-height: 30px;
  max-width: 40px;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-toggle{
  margin-top: 5px;
  max-width: 35px;
  max-height: 23px;
  overflow: visible;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-custom .navbar-toggle{
  margin-top: 5px;
  max-width: 35px;
  max-height: 30px;
  overflow: visible;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-collapse{
  margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-custom .navbar-collapse{
  margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
 .navbar-fixed-top{
  height: 50px;
  background-color: rgb(0,0,0);
  }

}

  .transicao {
    min-height: 30%;
  }

  .transicao2 {
    min-height: 30%;
  }

  .BACK2 {
    min-height: 25%;
  }

  .BACK2 .container{
    margin-top: 5%;
  }
}




.bgParallax {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    min-height: 100%;
    text-shadow:0 0 10px rgba(0,0,0,0.7);

    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

#BACKa1 {background-image: url("../Imagens/back3.jpg");}

#BACKa2 {background-image: url("../Imagens/back1.jpg");}

.BACK4 {
  background-color: #E1EFF6;
  min-height: 55%;
  padding: 30px 0;
}

.BACK4 h2{
  font-family: "breeSerif";
  text-align: center;
  font-size: 30px;
  color: #31708f;

}

#parc {
  margin-top: : -30%;
}

.ccr {
  margin-top: 30%;

}

.compact {
  margin-top: 10%;

}

.nejesm {
  margin-top: 20%;

}

.fejers {
  margin-top: 0%; 

}

@media only screen and (max-width: 1199px){
  .ccr {
    margin-top: 10%;

  }

  .compact {
    margin-top: 10%;

  }

  .nejesm {
    margin-top: 10%;

  }

  .fejers {
    margin-top: 10%; 
    margin-bottom: 10%;

  }
}